<%- include ('../layouts/adminHeader.ejs') %>

    <h4 class="text-center my-5 text-success">ALL PRODUCTS</h4>
    <a href="/admin/add-product"><button type="button" class="btn btn-secondary btn-sm mx-3">+ Add Product</button></a>
    <br><br>
    <table class="table text-center">
        <thead style="background-color: rgba(0, 0, 0, 0.603); color: white;">
            <tr>
                <th scope="col">SL NO</th>
                <th scope="col">NAME</th>
                <th scope="col">STOCK</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">PRICE</th>
                <th scope="col"></th>
                <th scope="col">IMAGE</th>
                <th scope="col">ACTION</th>


            </tr>
        </thead>
        <tbody>
            <% if(products.length> 0){ %>
                <% for(let i=1;i <=products.length; i++){ %>
                    <% if(products.length>=0){ %>
                        <tr>
                            <th>
                                <br>
                                <%= i %>
                                    <br>
                            </th>
                            <td><br>
                                <%= products[i-1].name %>
                                    <br>
                            </td>
                            <td><br>
                                <%= products[i-1].stock %>
                                    <br>
                            </td>
                            <td><br>
                                <%= products[i-1].category %>
                                    <br>
                            </td>

                            <td><br>
                                <%= products[i-1].price %>
                                    <br>
                            </td>

                            <td>
                            </td>

                            <td>

                                <% if(products[i-1].image) { %>
                                    <img src="/uploads/<%= products[i-1].image[0] %>" width="100vw" height="100vh">
                                    <% }else{ %>
                                        Image Not Found
                                        <% } %>
                                            <br>
                            </td>
                            <td><br>
                                <div style="display: flex; justify-content: center;">
                                    <a class="text-success"
                                        href="/admin/edit-product?id=<%= products[i-1]._id %>"><button
                                            class="btn btn-success btn-sm">Edit</button></a><br>
                                    &nbsp;
                                    <a onclick="return confirm('do you want to delete?')" class="text-danger"
                                        href="/admin/delete-product?id=<%= products[i-1]._id %>"><button
                                            class="btn btn-danger btn-sm">Delete</button></a><br>
                                    &nbsp;

                                    <a id="<%-products[i-1]._id %>"
                                            style="text-decoration: none; color: white;"
                                            href="/admin/show-product?id=<%-products[i-1]._id %>"><button class="btn btn-secondary btn-sm">
                                            <% if(products[i-1].isAvailable){ %>Unlist<%}else{%>list<%}%>
                                        </button></a>
                                </div>
                                <br>
                            </td>

                        </tr>
                        <% } %>
                            <% } } else{ %>
                                <tr>
                                    <td colspan="5">Products Not Found</td>
                                </tr>
                                <% } %>

        </tbody>
    </table>

    <%- include ('../layouts/adminFooter.ejs') %>